/* Add application styles & imports to this file! */

.hide {
  display: none;
}

.wtitle {
  background: lightblue;
  padding: 0.5em;
}

.wbody {
  background: lightgray;
  padding: 0.25em;
}

.pointer {
  cursor: pointer;
}